body {
  border: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: #434455;
}
ul {
  font-style: normal;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
}
.logo span {
  color: #2e2f42;
}
.navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.navigation:hover,
.navigation:focus {
  color: rgba(64, 75, 191, 1);
}
.address {
  gap: 40px;
  font-size: 16px;
  font-weight: 400;
}
.address a:hover,
.address a:focus {
  color: rgba(64, 75, 191, 1);
}
.face {
  background-color: rgba(46, 47, 66, 1);
}
.h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
}
.button {
  background-color: rgb(77, 90, 229, 1);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
  background-color: rgba(64, 75, 191, 1);
}
.features ul {
  line-height: 24px;
}
.features h2 {
  font-size: 20px;
  font-weight: 500;
}
.features p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(67, 68, 85, 1);
}
.our-team {
  background-color: rgba(244, 244, 253, 1);
}
.our-team h2 {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
.team-cards {
  height: 380px;
}
.team-cards li {
  background-color: white;
  text-align: center;
  line-height: 24px;
}

.card h3 {
  font-size: 20px;
  font-weight: 500;
}
.card p {
  color: rgba(67, 68, 85, 1);
  font-size: 16px;
  font-weight: 400;
}
.portfolio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.portfolio-cards {
  grid-template-columns: repeat(3, auto);
}
.portfolio-description h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.portfolio-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(67, 68, 85, 1);
}

.footer {
  background-color: rgba(46, 47, 66, 1);
}
footer h3 {
  font-family: raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: rgba(77, 90, 229, 1);
}
.span {
  font-family: raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: rgba(244, 244, 253, 1);
}
.paragraph {
  color: rgba(244, 244, 253, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
